#login
  %img#logo{:alt => "Logo_caps", :height => "21", :src => "/images/logo_caps.png?1292286280", :width => "143"}/
  %br/
  %br/
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      = f.label :username , 'username'
      = f.text_field :username
      %span.pod_location
        @diasp.org
        %br/
        %br/
    %p
      = f.label :password , 'password'
      = f.password_field :password
      %span
        %a{:href => "/users/password/new"} Forgot your password?
        %br/
        %a{:href => "/users/sign_up"} Sign up
    %p.submit
      = f.submit '.sign_in'
      %span#remember_me
        %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
        %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
        %label{:for => "user_remember_me"} Remember me
  %img#spinner.hidden{:alt => "Ajax-loader", :src => "/images/ajax-loader.gif?1292176047"}/