= simple_form_for [@post, @comment] do |f|
  = @post.title
  %br
  = @post.id
  %br
  .field
    = f.input :content, :as => :text, :style => "width:420px; height:80px;"
    
  .actions
    = f.button :submit
