= simple_form_for @recipe do |f|

  = f.input :title
  = f.input :description, :as => :text
  = f.input :picture
  = f.input :material, :as => :text
  = f.input :step, :as => :text
  
  = f.button :submit