= form_for @recipe do |f|
  
  %br
  .section
    .label title
    = f.text_field :title, :id => "title", :style => "width:600px;"

    .label content
    = f.text_area :content, :style => "height:400px;width:600px"

    %br
    .label slug
    = f.text_field :slug, :id => "slug"
  %br
  %br
	
  .buttonbar
  = f.submit 'Save'