.content
  .from
    = post.user.name
    Shared the content 
    = link_to post.post.title, post.post
  %p
    = link_to post.user.name, user_path(post.user)
  %p
    = (post.content).html_safe
  %br
  %hr
    = (post.post.content).html_safe