= image_tag 'powered_by.png', :height => "11px", :width => "79px"
%ul#footer_nav
  %li= link_to '@zhuke', "http://twitter.com/zhuke"
  %li= link_to 'github', "https://github.com/"
  %li= link_to 'blog', "http://lanvige.com"
  %li= link_to 'whats_new', 'https://zhuke.me/'
